@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>We are an event system which takes pride in connecting our user base to communities across London. Inclusive, Diverse and Empowering.</p>
