@page
@model TicketCentral.Pages.VenueBookings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit a Venue Booking</h2>

<h4>VenueBooking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VenueBooking.VenueBookingID" />
            <div class="form-group">
                <label asp-for="VenueBooking.Event" class="control-label"></label>
                <select asp-for="VenueBooking.EventID" class="form-control"
                        asp-items="@Model.eventList">
                    <option value="">-- Select Event --</option>
                </select>
                <span asp-validation-for="VenueBooking.EventID" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="VenueBooking.Venue" class="control-label"></label>
                <select asp-for="VenueBooking.VenueID" class="form-control"
                        asp-items="@Model.venueList">
                    <option value="">-- Select Venue --</option>
                </select>
                <span asp-validation-for="VenueBooking.VenueID" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="VenueBooking.BookingManagerName" class="control-label"></label>
                <input asp-for="VenueBooking.BookingManagerName" class="form-control" />
                <span asp-validation-for="VenueBooking.BookingManagerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueBooking.BookingManagerEmail" class="control-label"></label>
                <input asp-for="VenueBooking.BookingManagerEmail" class="form-control" />
                <span asp-validation-for="VenueBooking.BookingManagerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueBooking.BookingDate" class="control-label"></label>
                <input asp-for="VenueBooking.BookingDate" class="form-control" />
                <span asp-validation-for="VenueBooking.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
