@page
@model TicketCentral.Pages.Venues.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Venue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Venue.VenueName" class="control-label"></label>
                <input asp-for="Venue.VenueName" class="form-control" />
                <span asp-validation-for="Venue.VenueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.VenueAddress" class="control-label"></label>
                <input asp-for="Venue.VenueAddress" class="form-control" />
                <span asp-validation-for="Venue.VenueAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.VenuePostcode" class="control-label"></label>
                <input asp-for="Venue.VenuePostcode" class="form-control" />
                <span asp-validation-for="Venue.VenuePostcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.BookingDate" class="control-label"></label>
                <input asp-for="Venue.BookingDate" class="form-control" />
                <span asp-validation-for="Venue.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue.IsAvailable" class="control-label"></label>
                <input asp-for="Venue.IsAvailable" class="form-control" />
                <span asp-validation-for="Venue.IsAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
